@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

*{
    padding: 0;
    margin: 0;
}

body{
    background: url("images/futbalBgMin.jpeg") center center fixed;
    background-size: cover;
    font-family: "Open Sans",Arial, Helvetica, sans-serif;
    font-size: 16px;
}

header{
    margin-bottom: 25px;
}

#headContainer{
    text-align: center;
    font-size: calc(22px + 1vw);
    display: flex;
    color: #eee;
    max-width: 800px;
    margin: 0 auto;
}

.nav{
    background: rgba(255, 255, 255, 0.7);
    color: #555;    
    width: 50%;
    font-weight: 700;
    -moz-user-select: none;
    user-select: none;
    padding: 5px 0;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: rgba(255, 255, 255, 0.7);
}

.nav:hover{
    cursor: pointer;
    color: #1F4788;
}

.nav:active{
    cursor: pointer;
    color: #333;
}

.nav-active{
    border-bottom: 5px  solid #1F4788;
    color:   #1F4788;
}


.zapasContainer{
    margin-bottom: 20px;
}

.container{
    max-width: 800px;
    margin: 0 auto;
}

.datum{
    text-align: center;
    color: #eee;
    background: rgba(31, 71, 136, 0.9);
}
.zapas{
    display: flex;
    text-align: center;
}
.team{
    width: 50%;
}

.team h3{
    padding: 5px 0;
}

.headTable{
    display: flex;
    font-size: 24px;
    padding: 5px 0;
    font-weight: 700;
}

.nazov{
    width: 80%;
}

.vysledok{
    width: 20%;
}

.white{
    background: rgba(240, 240, 240, 0.9);
    color: #111;
}
.white .headTable{
    border-bottom: 1px solid #222;
}
.white .headTable img{
    margin-right: 10px;
}

.black{
    background: rgba(0, 0, 0, 0.9);
    color: #eee;
}
.black .headTable{
    border-bottom: 1px solid #eee;
}
.black .headTable img{
    margin-left: 10px;
}

.zapasGoly{
    margin: 10px 0;
}

.hracGolyContainer{
    display: flex;
}
.hracGoly{
    width: 20%;
}
.hracMeno{
    width: 80%;
}


/* HRACI CONTAINER */

.hrac{
    width: 50%;
    margin-bottom: 20px;
    box-sizing: border-box;
    float: left;
    padding: 0 5px;
}

.meno{
    font-size: 24px;
    font-weight: 700;
    background: rgba(31, 71, 136, 0.9);
    color: #eee;
    text-align: center;
    padding: 3px 0;
}
.hracStatistics{
    background: rgba(240, 240, 240, 0.9);
    padding: 8px 0;
}
.hracStatisticsItem{
    display: flex;
    padding: 2px 0;
}
.statisticsTitle{
    width: 70%;
    padding-left: 30px;
}
.statisticsNumber{
    width: 30%;
}



@media (max-width: 678px){
    .hrac{
        width: 100%;
        margin-bottom: 20px;
        box-sizing: border-box;
        float: left;
    }
}

@media (max-width: 468px){
    .hrac{
        font-size: 14px;
    }
}